
<div *ngFor="let movie of movies;" class="poster" [class.selected]="selectedMovie == movie" [style.backgroundImage]="'url('+movie.poster+')'" (click)="selectMovie(movie)">

        <!-- TODO: Move this into separate component and reuse it. For example <movie [class.selectedMovie]='movie === selectedMovie'> </movie> -->
        <div class="poster-info">
            <h3>{{movie.title}}</h3>
            <p>{{movie.releaseYear}}</p>
            <p>{{movie.rating == 0.0 ? 'Not rated' : movie.rating}} </p>
        </div>
</div>
