<div class="container">
  <h1>Movie Form</h1>
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" [(ngModel)]="title" #ctrl="ngModel" name="title" id="title">
    </div>

    <div class="form-group">
      <label for="release-date">Release Date</label>
      <input type="date" class="form-control" [(ngModel)]="releaseDate" #ctrl="ngModel" name="date" id="release-date">
    </div>

    <div class="form-group">
      <label for="duration">Duration</label>
      <input type="number" class="form-control"[(ngModel)]="duration" #ctrl="ngModel" name="duration" id="duration">
    </div>


    <button type="submit" class="btn btn-success" (click)="submit()">Submit</button>

  </form>
</div>
