<div class="container">
  <h1>Movie Form</h1>
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title">
    </div>

    <div class="form-group">
      <label for="release-date">Release Date</label>
      <input type="date" class="form-control" id="release-date">
    </div>

    <div class="form-group">
      <label for="duration">Duration</label>
      <input type="number" class="form-control" id="duration">
    </div>


    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
